# DATABASE_URL
# description: full url from database
# example: mongodb://<user>:<pwd>@<host>:<port>/database
DATABASE_URL=mongodb://<user>:<pwd>@<host>:<port>/<database>

# ENV
# description: application environment 
# example: dev, test, prod 
ENV=dev